body{
  background-color: grey;
}

.header{
  height 150px;
  background-color: blue;
  border-style: solid;
  text-align: center;
  text-color: white;
}

.container{
  background-color: white;
  align: center;
  width: 1000px;
}

.nav{
  background-color: pink;
  width: 180px;
  float: left;
}

.content{
  background-color: white;
  padding: 10px;
  float: right;
}

.footer{
  clear:both;
}
