body{
  background-color: grey;
}

#header{
  background-color: blue;
  text-align: center;
  text-color: white;
}

#main{
  width: 800px;
}

#nav{
  width: 180px;
  float: left;
}

#content{
  float: right;
}

#footer{
  float: clear;
}
