body{
  background-color: grey;
}

#header{
  background-color: blue;
  text-align: center;
  text-color: white;
}

#container{
  align: center;
  width: 800px;
}

#nav{
  width: 180px;
  float: left;
}

#content{
  padding: 10px;
  float: right;
}

#footer{
  clear:both;
}
